/*-----------------------------------------------------------
  I. INDEX                          (l:22)
    1  General Styles               (l:25)
    2  Typography                   (l:49)
    3  Navbar                       (l:73)
    4  Button (Colored)             (l:120)
    5  Section-1                    (l:202) 
    6  Section-2                    (l:408)
    7  Section-3                    (l:513)
    8  Sub-Title                    (l:589)
    9  Scrollbar                    (l:664)
    10  Footer                      (l:693)
    11  Signature                   (l:811)
  II. WITB                          (l:829)
    1  Box                          (l:833)
    2  Modal                        (l:1655)
  III. Viking                       (l:1779)
  IV. 404                           (l:1785)
  V. RESPONSIVE                     (l:1806)
-------------------------------------------------------------*/

/*-----------------------------------------------------------
    I. INDEX (HTML)
-------------------------------------------------------------*/
/*-----------------------------------------------------------
    1. General Styles 
-------------------------------------------------------------*/
  html, body {font-family: 'font-title'; overflow-x: hidden; scroll-behavior: smooth; 
  }
  body{background-color: #000;}
  * {
     margin: 0;
     padding: 0;
   }
   html {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     overflow-x: hidden;
   }
   *, *:before, *:after {
     -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
     box-sizing: inherit;
   }
  a{
    text-decoration: none;
  }
/*-----------------------------------------------------------
  2. Typography 
------------------------------------------------------------*/
   @font-face {
    font-family: 'font-title';
    src: url(/font/HelveticaNowText-Bold.ttf);
  }
  @font-face {
    font-family: 'font-body';
    src: url(/font/HelveticaNowText-Regular.ttf);
  }
  @font-face {
    font-family: 'viking';
    src: url(/font/Norse-KaWl.otf);
  }
  @font-face {
    font-family: 'box';
    src: url(/font/Grandstander-Bold.otf);
  }
  @font-face {
    font-family: 'pirate';
    src: url(/font/TradeWinds-Regular.ttf);
  }

/*-----------------------------------------------------------
  3. Navbar
------------------------------------------------------------*/
/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  background-color: transparent;
  padding: 1rem; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  }
  #header img{
    z-index: 100;
    position: fixed;
    align-items: center;
    margin: .5rem;
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */

  }
  /* Style the links inside the navigation bar */
  .topnav a{
    color: rgb(255, 255, 255);
    text-align: right;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin: 0 10%;
  }
.topnav-child{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 8rem;
}
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  .logo-bar:hover{cursor: pointer;}
/*-----------------------------------------------------------
  4. Button (Colored)
------------------------------------------------------------*/
  .bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgba(17, 17, 17, 0);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    /* transition: opacity 0.3s ease-in-out; */
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    color: rgb(255, 255, 255);
    transform: scale(0.95);
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 1;
  }
  .bn5:hover:after{
    background-color: #000;
  }
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    border-radius: 10px;
  }

/*-----------------------------------------------------------
  5. Section-1
------------------------------------------------------------*/
.section-1{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  background-image:url(https://drive.google.com/uc?id=16zGPS4oz-e-M7hwSy6WI3a2GhLL3Tm-D) ;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.main-text{
  color: white;
  font-family: 'font-title';
}
.main-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.right-txt {
  text-align: right;
  width: 100%;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-family: 'font-title';
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 540ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 1s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}
.main-title a{
  color: white;
  padding: 1rem;
  border-radius: 10px;
  background-color: #04aa6d7c;
  margin-top: 2rem;
}
.nft-button{
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.design-button{
  margin-bottom: 2rem;
}
.button_top {
 display: block;
 box-sizing: border-box;
 border: 2px solid var(--button_outline_color);
 border-radius: var(--button_radius);
 padding: 0.75em 1.5em;
 background: var(--button_color);
 color: var(--button_outline_color);
 transform: translateY(-0.2em);
 transition: transform 0.1s ease;

}

button:hover .button_top {
  /* Pull the button upwards when hovered */
 transform: translateY(-0.33em);
 cursor: pointer;
}

button:active .button_top {
  /* Push the button downwards when pressed */
 transform: translateY(0);
}
.scroll-down {
  height: 70px;
  width: 50px;
  border: 4px solid rgb(171, 255, 255);
  position: absolute;
  z-index: 1;
  bottom: 30px;
  border-radius: 50px;
  cursor: pointer;
  animation: colorful 20s ease-in-out  infinite;
  margin-top: 3rem;
}
.scroll-button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 4px solid rgb(171, 255, 255);
  border-top: transparent;
  border-left: transparent;
  animation-name: scroll-down, colorful;
  animation-duration: 1s, 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* animation: scroll-down 1s ease-in-out infinite; */
  transition-duration: 1s;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
    
  }
  /* 10%{border-color: rgb(0, 255, 242);} */
  30% {
    opacity: 1;
   /* border-color: rgb(180, 180, 4); */
  }
  60% {
    opacity: 1;
    /* border-color: rgb(131, 5, 5); */
  }
  /* 90%{border-color: rgb(94, 255, 0);} */
  100% {
    top: 90%;
    opacity: 0;
    
  }
}
@keyframes colorful {
  0% {
    /* top:20%; */
  }
  25% {border-color: #f7ff81;
  }
  50%{
    border-color: rgb(255, 255, 255);
  }
  75%{
    border-color: rgb(173, 238, 130);
  }
  100%{

  }
}
/*-----------------------------------------------------------
  6. Section-2
-------------------------------------------------------------*/
.section-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
  height: max-content;
  padding: 2rem;
  z-index: 2;
  position: relative;
}
.banner{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
}
.image-banner{
  height: 400px;
  width: 90%;
  background-size: cover;
  text-align: center;
  margin-top: 4rem;
  transition: 0.35s ease-out;
  -webkit-transition: 0.35s ease-out;
  -moz-transition: 0.35s ease-out;display: flex;flex-direction: column; align-items: center;justify-content: center;} 


.image-banner-1{
  background-image: url(https://drive.google.com/uc?id=1pDIcx_8esr3Z1j4ux7vN7ISt_RsnoQU2) ;
  background-position: center center;
  -moz-box-shadow: 0 0 15px #fec8e2;
  -webkit-box-shadow: 0 0 15px #fec8e2;
  box-shadow: 0px 0px 15px #fec8e2;

}
.image-banner-2{
  height: 400px;
  width: 90%;
  background-image: url(https://drive.google.com/uc?id=1w9rEgEZ3nk0hisVkeJWsGMus7yuVFejo) ;
  background-repeat: no-repeat;
  background-position: center 0px;
  background-color: rgb(4, 4, 4);
  -moz-box-shadow: 0 0 15px #ffffff;
  box-shadow: 0px 0px 15px #ffffff;

}
.image-banner-3{
  background-image: url(https://drive.google.com/uc?id=1NbZML0K2yRKFqV7MWk2PkiHRTOs5HcWj) ;

  background-position: center 0px;
  background-color: rgb(4, 4, 4);
  -moz-box-shadow: 0 0 15px #ffffff;
  box-shadow: 0px 0px 15px #ffffff;
}
.image-banner-4{
  background-image: url(https://drive.google.com/uc?id=1vETMFypw77uKgjqvuWYuOR2ofsjeFfDg) ;
  background-repeat: no-repeat;
  background-position: center -350px;
  background-color: rgb(4, 4, 4);
  -moz-box-shadow: 0 0 15px #ffffff;
  box-shadow: 0px 0px 15px #ffffff;
}
#image-banner:hover, #image-banner-2:hover, #image-banner-3:hover, #image-banner-4:hover{
  transform: translate3d(0, -10px, 0);
  -webkit-transform: translate3d(0, -10px, 0);
  box-shadow: 0 0px 40px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
#image-banner:hover{
  box-shadow: 0 0px 40px #fec8e2
}
#image-banner:active, #image-banner-2:active, #image-banner-3:active, #image-banner-4:active{
  transform: scale(0.9);
  box-shadow: 0 0px 10px rgba(255, 255, 255, 0.2);
}

.title-nft{
  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  line-height: 2rem;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.2);
}
.boxx{
  -webkit-text-fill-color: rgb(0, 255, 200);
-webkit-text-stroke: 1px rgb(0, 0, 0);
}
.ada, .pirates{
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

/*-----------------------------------------------------------
  7. Section-3
-------------------------------------------------------------*/
.section-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
  height: max-content;
  padding: 2rem;
  z-index: 2;
  position: relative;
}
.grid-web {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 10px 10px; 
  grid-template-areas: 
    "a1" 
    "a2" 
    "a3"; 
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 0 12rem;
}
.a1, .a2, .a3 {
  justify-self: center; 
  align-self: center; 
  grid-area: a1; 
  width: 90%; 
  height: 85%; 
}
.a2 { grid-area: a2; }
.a3 { grid-area: a3; }
.web-img{max-width: 100%; height: auto; vertical-align: middle; border: 0;}
.img-content{   
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 350px; 
  border-radius: 6px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.15);

}
.content-web h6{
  position: absolute;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
.content-web{  transition: 0.35s ease-out;
  -webkit-transition: 0.35s ease-out;
  -moz-transition: 0.35s ease-out;display: flex;flex-direction: column; align-items: center;justify-content: center;} 
.content-web:hover{
  transform: translate3d(0, -10px, 0);
  -webkit-transform: translate3d(0, -10px, 0);
  box-shadow: 0 23px 40px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.content-web:active{
  transform: scale(0.9);
  box-shadow: 0 0px 10px rgba(255, 255, 255, 0.2);
}
.alert{
  position: absolute;
  font-size: 5rem;
  padding: 2rem;
  opacity: 1;
}
/*-----------------------------------------------------------
  8. Sub-title
-------------------------------------------------------------*/
.sub-title h2{
  text-align: center;
  font-size: 2.3rem;
  line-height: 4rem;
  width: auto;
  margin: 0 7px;

}
.sub-title{
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0 3rem;
}
.subsub-title{
  font-size: 1.5rem;
  margin-top: -1rem;
}
hr{
  width: 90%;
  align-self: center;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #fff;

}

.bb::before, .bb::after{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bb {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  background: url(/img/Logo1.25.png) no-repeat;
  background-size: contain;
  color: #69ca62;
  box-shadow: inset 0 0 0 1px rgba(105, 202, 98, 0.5);
  transform: scale(0.3);
  margin-top: -3rem;
}
.bb::before, .bb::after {
  content: "";
  z-index: -1;
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 8s linear infinite;
}
.bb::before {
  animation-delay: -4s;
}
@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 220px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 220px, 0px);
  }
  50% {
    clip: rect(218px, 220px, 220px, 0px);
  }
  75% {
    clip: rect(0px, 220px, 220px, 218px);
  }
}

/*-----------------------------------------------------------
  9. Scrollbar
-------------------------------------------------------------*/
::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background: #161616;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #161616, #313131);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #161616, #313131); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
	border-radius: 20px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #000000;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
  background: #747474;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #8d8d8d, #747474);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8d8d8d, #747474); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
}
/*-----------------------------------------------------------
  10. Footer
-------------------------------------------------------------*/
.pre-footer{
  width: 100%;
  margin-bottom: 2rem;
}
footer {
  background-color: #000000;
  background-size: 10rem;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0px 0px 0px 0px;
}
.social_icons {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  margin: 1rem 10px;
  transition: all 0.4s ease-in-out;
}
.social_icons:hover {
  color: #ffffff;
}

@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.5);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(255, 255, 255, 0.3);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.5);
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.5);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(255, 255, 255, 0.3);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.5);
    transform: translatey(0px);
  }
}
.container-4 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
h2{
  color: white;
  margin-bottom: 1rem;
}
.avatar {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px rgb(255, 255, 255) solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.5);
  transform: translatey(0px);
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
          margin-bottom: .5rem;
}
.avatar img {
  width: 100%;
  height: auto;
}

.content-foot {
  width: 100%;
  max-width: 600px;
  padding: 20px 20px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fa:hover{
  cursor: pointer;
}
.fa-twitter:hover{
  color: #1DA1F2;
}
.fa-github:hover{
  color: #000000;
  background-color: #fafafa;
  border-radius: 50%;
}
.fa-discord:hover{
  color:  #5865F2;
}
.fa-envelope:hover{
  color: #F4B400;
}
.pfp:hover{cursor: pointer;}

/*-----------------------------------------------------------
  11. Signature
-------------------------------------------------------------*/
@font-face {
  font-family: 'pixel';
  src: url(/font/Minecraft.ttf);
}
.lol{color:rgb(255, 0, 242); font-family: 'pixel';}.lol:hover{size:1rem;color:#ff0 !important;}.lol:visited{color:rgb(206, 4, 4);}.hero2{line-height:1;display:inline-block;z-index:2;letter-spacing:4px;filter:drop-shadow(0 1px 3px)}.layers{position:relative}.layers::after,.layers::before{content:attr(data-text);position:absolute;width:110%;z-index:-1}.layers::before{top:10px;left:15px;color:#23ff1c}.layers::after{top:5px;left:-10px;color:#4aeaff}.glitch span{animation:paths 5s step-end infinite}.glitch::before{animation:paths 5s step-end infinite,opacity 5s step-end infinite,font 8s step-end infinite,movement 10s step-end infinite}.glitch::after{animation:paths 5s step-end infinite,opacity 5s step-end infinite,font 7s step-end infinite,movement 8s step-end infinite}.single-path{clip-path:polygon(0% 12%,53% 12%,53% 26%,25% 26%,25% 86%,31% 86%,31% 0%,53% 0%,53% 84%,92% 84%,92% 82%,70% 82%,70% 29%,78% 29%,78% 65%,69% 65%,69% 66%,77% 66%,77% 45%,85% 45%,85% 26%,97% 26%,97% 28%,84% 28%,84% 34%,54% 34%,54% 89%,30% 89%,30% 58%,83% 58%,83% 5%,68% 5%,68% 36%,62% 36%,62% 1%,12% 1%,12% 34%,60% 34%,60% 57%,98% 57%,98% 83%,1% 83%,1% 53%,91% 53%,91% 84%,8% 84%,8% 83%,4% 83%)}.paths{animation:paths 5s step-end infinite}@keyframes paths{0%{clip-path:polygon(0% 43%,83% 43%,83% 22%,23% 22%,23% 24%,91% 24%,91% 26%,18% 26%,18% 83%,29% 83%,29% 17%,41% 17%,41% 39%,18% 39%,18% 82%,54% 82%,54% 88%,19% 88%,19% 4%,39% 4%,39% 14%,76% 14%,76% 52%,23% 52%,23% 35%,19% 35%,19% 8%,36% 8%,36% 31%,73% 31%,73% 16%,1% 16%,1% 56%,50% 56%,50% 8%)}5%{clip-path:polygon(0% 29%,44% 29%,44% 83%,94% 83%,94% 56%,11% 56%,11% 64%,94% 64%,94% 70%,88% 70%,88% 32%,18% 32%,18% 96%,10% 96%,10% 62%,9% 62%,9% 84%,68% 84%,68% 50%,52% 50%,52% 55%,35% 55%,35% 87%,25% 87%,25% 39%,15% 39%,15% 88%,52% 88%)}30%{clip-path:polygon(0% 53%,93% 53%,93% 62%,68% 62%,68% 37%,97% 37%,97% 89%,13% 89%,13% 45%,51% 45%,51% 88%,17% 88%,17% 54%,81% 54%,81% 75%,79% 75%,79% 76%,38% 76%,38% 28%,61% 28%,61% 12%,55% 12%,55% 62%,68% 62%,68% 51%,0% 51%,0% 92%,63% 92%,63% 4%,65% 4%)}45%{clip-path:polygon(0% 33%,2% 33%,2% 69%,58% 69%,58% 94%,55% 94%,55% 25%,33% 25%,33% 85%,16% 85%,16% 19%,5% 19%,5% 20%,79% 20%,79% 96%,93% 96%,93% 50%,5% 50%,5% 74%,55% 74%,55% 57%,96% 57%,96% 59%,87% 59%,87% 65%,82% 65%,82% 39%,63% 39%,63% 92%,4% 92%,4% 36%,24% 36%,24% 70%,1% 70%,1% 43%,15% 43%,15% 28%,23% 28%,23% 71%,90% 71%,90% 86%,97% 86%,97% 1%,60% 1%,60% 67%,71% 67%,71% 91%,17% 91%,17% 14%,39% 14%,39% 30%,58% 30%,58% 11%,52% 11%,52% 83%,68% 83%)}76%{clip-path:polygon(0% 26%,15% 26%,15% 73%,72% 73%,72% 70%,77% 70%,77% 75%,8% 75%,8% 42%,4% 42%,4% 61%,17% 61%,17% 12%,26% 12%,26% 63%,73% 63%,73% 43%,90% 43%,90% 67%,50% 67%,50% 41%,42% 41%,42% 46%,50% 46%,50% 84%,96% 84%,96% 78%,49% 78%,49% 25%,63% 25%,63% 14%)}90%{clip-path:polygon(0% 41%,13% 41%,13% 6%,87% 6%,87% 93%,10% 93%,10% 13%,89% 13%,89% 6%,3% 6%,3% 8%,16% 8%,16% 79%,0% 79%,0% 99%,92% 99%,92% 90%,5% 90%,5% 60%,0% 60%,0% 48%,89% 48%,89% 13%,80% 13%,80% 43%,95% 43%,95% 19%,80% 19%,80% 85%,38% 85%,38% 62%)}1%,33%,47%,7%,78%,93%{clip-path:none}}.movement{position:relative;animation:movement 8s step-end infinite}@keyframes movement{0%{top:0;left:-20px}15%{top:10px;left:10px}60%{top:5px;left:-10px}75%{top:-5px;left:20px}100%{top:10px;left:5px}}.opacity{animation:opacity 5s step-end infinite}@keyframes opacity{0%{opacity:.5}5%{opacity:.7}30%{opacity:.5}45%{opacity:.6}76%{opacity:.5}90%{opacity:.8}1%,33%,47%,7%,78%,93%{opacity:0}}
.pre-sign{
  color: rgb(0, 255, 136);
  background-color: rgba(0, 0, 0, 0);
  padding: 2rem; 
  width: max-content; 
  font-size: 1.2rem; 
  text-indent: .5rem;
  margin-top: 0rem;
  border-radius: 15px;
  width: 100%; background-color: #000;

}
/*-----------------------------------------------------------
II.  WITB (HTML)
-------------------------------------------------------------*/

/*-----------------------------------------------------------
1. Box
-------------------------------------------------------------*/
.boddy{
	display: grid;
	background-color: #333;
	place-items: center;
	grid-template-rows: 500px 450px;
	}
:root{
	--size: 200px;
	--icon-size: 20px;
	--icon-color: #483C3E;

	}


	/* BOX STYLES*/
	.box{
	position: relative;
	width: var(--size);
	height: var(--size);
	transform-style: preserve-3d;
	transform:rotatex(345deg) rotateY(216deg);
	z-index: 0;
	bottom: -50px;
	}
	.face{
	position: absolute;
	height: 100%;
	width: 100%;
	}
	.bottomm{
	transform:rotatex(-90deg);
	transform-origin: bottom center;
	background-color: #BB8E51; 
	z-index: 0;
	box-shadow: 0 var(--size) 3px #0005;
	}
	.front{
	background-color: #8d6c3d;
	z-index: 5;
	transform: scaleX(-1);
	}
	.back{
	background-color: #8b6a3c; 
	transform: translatez(var(--size));
	z-index: 2;
	}
	.right{
	background-color: #584324; 
	transform:rotatey(270deg);
	transform-origin: center left;
	z-index: 1
	}
	.leftt{
	background-color: #d1a05c;
	transform:rotatey(90deg);
	transform-origin: center right;
	z-index: 3;
	}
	.tap{
	background-color: #8b6a3c; 
	transform: translatez(100px) translatex(100px) rotateY(-45deg);
	z-index: 2;
	bottom: 0px;
	width: 20%;
	height: 83%;
	}
	.face.leftt::after{
	content: "";
	height: 17%;
	width: 10%;
	position: absolute;
	top: 0;
	left: 45%;
	background-color: rgba(255, 255, 255, 0.267);
	backface-visibility: hidden;
	}
	.front::before{
		content:'';
position: absolute;
  top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.411);       }
.right::after{
		content:'';
position: absolute;
  top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.295);}      
.back::after{
		content:'';
position: absolute;
  top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.432);}
	/* COVER STYLES*/
	.top{
	transform: rotatex(90deg);
	transform-origin: top center;
	z-index: 6;
	position: absolute;
	transform-style: preserve-3d;
	cursor: pointer;
	}
	.cover-back, .cover-front{
	width: var(--size);
	height: calc(var(--size) / 2);
	background-color: #BB8E51;
	position: absolute;
	transition: transform 0.5s .35s linear;
	z-index: 8;
	}
	.cover-back::after, .cover-front::after{
	content: "";
	height: 10%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.267);
	backface-visibility: hidden;
	}
	.cover-front::after{
	top: 90%;
	}
	.cover-back{
	left: 0;
	bottom: 0;
	transform-origin: center bottom;
	}
	.cover-front{
	left: 0;
	top: 0;
	transform-origin: center top;
	}

	.cover-left, .cover-right{
	height: var(--size);
	width: calc(var(--size) / 3);
	background-color: #ad8245;
	position: absolute;
	transition: transform .5s linear;
	z-index: 7;
	}
	.cover-left{
	left: 0;
	bottom: 0;
	transform-origin: center left;
	}
	.cover-right{
	right: 0;
	top: 0;
	transform-origin: center right;
	}

	.content{
		width: 80%;
        height: 80%; 
        position: absolute;
        bottom: 1px;
        display: grid;
        place-items: center;
        transform: rotateY(-216deg) 
            translatez(calc(var(--size) / -2 )) 
            translatex(-50%);
        transition: transform .4s linear;
	
	}
/* 
	.top:active ~ .txt{
		animation: fade 10s 1;
		visibility: visible;

	  }
	  .top:active ~ .txt2{
		animation: fade 10s 1;
		visibility: visible;
		animation: escribir 5s steps(10) 1 alternate;

	  }
	  .top:active ~ .txt2 > .txt3{
		animation: fade 10s 1;
		visibility: visible;

	  } */

	  .fade{
		animation: fade 10s 1;

	  }
		@keyframes fade {
		0%, 15%{opacity: 0} 
		50% {opacity: 1}

		  }


	/* ICONS STYLES*/
	.icons{
        display: flex;
        justify-content: flex-start;
        position: absolute;
        bottom: 5px;
        left: 5px;
        }
        .icons div{
        margin: 2px;
        border-radius: 3px;
        }
        .arrow{
        height: 100%;
        width: 100%;
        clip-path: polygon(21% 28%, 41% 39%, 52% 22%, 56% 29%, 48% 36%, 72% 38%, 84% 14%, 75% 19%, 67% 5%, 39% 5%);
        background-color: darkgreen;
        position: absolute;
        }
        .arrow:nth-child(2){
        transform: rotate(120deg);
        }
        .arrow:nth-child(3){
        transform: rotate(-125deg);
        }
        .umbrella{
        height: var(--icon-size);
        width: var(--icon-size);
        position:relative;
        border: 1px solid var(--icon-color);
        background-color: #d1a05c;
        }
        .umbrella::after{
        content:"";
        height: 40%;
        width: 100%;
        top: 20%;
        position: absolute;
        background-color: rgb(39, 55, 145);
        border-radius: 50% 50% 50% 50% / 90% 90% 10% 10%;
        }
        .umbrella::before{
        content:"";
        height: 80%;
        width: 10%;
        top: 10%;
        left: 50%;
        position: absolute;
        border-radius: 0% 0% 50% 50% / 0% 0% 10% 10%;
        border: calc(var(--icon-size) * 4 / 100) solid var(--icon-color);
        border-top: none;
        border-right: none;
        }
        .glass{
        height: var(--icon-size);
        width: var(--icon-size);
        position:relative;
        border: 1px solid var(--icon-color);
        background-color: #d1a05c;
        }
        .glass::after{
        content:"";
        height: 60%;
        width: 70%;
        top:5%;
        left:15%;
        position: absolute;
        background-color: rgb(148, 21, 21);
        border-radius: 0% 0% 50% 50% / 0% 0% 100% 100% ;
        clip-path: polygon(0% 0%, 55% 0, 68% 20%, 54% 34%, 75% 55%, 61% 34%, 75% 19%, 67% 0, 100% 0%, 100% 100%, 0% 100%);
        }
        .glass::before{
        content:"";
        height: 95%;
        width: 100%;
        position: absolute;
        background-color: rgb(148, 21, 21);
        clip-path: polygon(15% 100%, 45% 90%, 40% 55%, 60% 55%, 55% 90%, 85% 100%);
        }
        .orientation{
        height: var(--icon-size);
        width: var(--icon-size);
        position:relative;
        border: 1px solid var(--icon-color);
        background-color: #d1a05c;
        }
        .orientation::after,
        .orientation::before{
        content:"";
        height: 70%;
        width: 40%;
        top:5%;
        left:15%;
        position: absolute;
        background-color:rgb(27, 27, 27);
        clip-path: polygon(50% 0, 80% 30%, 60% 30%, 60% 100%, 40% 100%, 40% 30%, 20% 30%);
        }
        .orientation::after{
        left: 50%;
        }
        .base{
        height: 8%;
        width: 70%;
        left: 6%;
        bottom: 10%;
        position: absolute;
        background-color: rgb(27, 27, 27);
        }
        .recycled{
        height: calc(var(--icon-size) * 1.5);
        width: calc(var(--icon-size) * 1.5);
        position: absolute;
        bottom: 3px;
        right: 3px;
        transform: scaleX(-1); right: 167px;
        
        }

        .warn,
      .warn::before,
      .warn::after
      {
        position: absolute;
        padding: 0;
        margin: 0;
      }

      .warn {
        font-size: 36px;
        color: transparent;
        
      }

      .warn.warning {
        display: inline-block;

        top: 4.55em;

        width: 1.15em;
        height: 1.15em;

        overflow: hidden;
        border: none;
        background-color: transparent;
        border-radius: none;
        transform: scaleX(-1);
      }

      .warn.warning::before {
        content: "";
        display: block;
        top: -0.08em;
        left: 0.0em;
        position: absolute;
        border: transparent 0.6em solid;
        border-bottom-color: rgba(236, 240, 9, 0.733);
        border-bottom-width: 1em;
        border-top-width: 0;

      }

      .warn.warning::after {
        display: block;
        position: absolute;
        top: 0.2em;
        left: 0;
        width: 100%;
        padding: 0 1px;
        text-align: center;
        font-family: "Garamond";
        content: "!";
        font-size: 0.75em;
        font-weight: bold;
        color: #333;
      }
        .label{
        height: calc(var(--icon-size) * 3.3);
        width: calc(var(--icon-size) * 4.3);
        position: absolute;
        background-color: rgba(255, 255, 255, 0.253);
        border: 4px double var(--icon-color);
        border-radius: 10px;
        top: 5px;
        left: 5px;
        }
        .label::before{
        /*content:"From: \A        -LolCNFT \A        -Octz \A \A     Mistery Box";*/
        font-family: sans-serif;
        font-weight: 700;
        font-size: .7rem;
        transform: scalex(-1);
        display: inline-block;
        white-space: pre;
        position: absolute;
        right: 1px;
        top: 3px;
        }

	.Dino{
        --Dino-size: calc(var(--size) * .93);
        width: var(--Dino-size);
        height: var(--Dino-size);
        position: absolute;
        
        }
        @keyframes move-right{
        0%,40%,80%{
            transform: rotate(30deg);
        }
        50%,60%{
            transform: rotate(33deg);
        }
        }
        @keyframes move{
        0%,40%,80%{
            transform: scalex(-1) rotate(30deg);
        }
        50%,60%{
            transform: scalex(-1) rotate(33deg);
        }
        }
        .Dino .detail-head{
          width: 0rem;
        height: 1rem;
        position: absolute;

        border: transparent 1.5em solid;
        border-bottom-color: #6ba607;
        border-bottom-width: 2em;
        border-top-width: 0em;
        border-radius:0px;
        transform: rotate(9deg);
        top: 11%;
        right: 35.7%;

        transform-origin: 0 70%;
        z-index: 0;
        border-style: solid;

        }
        .Dino .detail-head:nth-child(4){

          right: 10%;
          top: 14.5%;
          transform: rotate(45deg);
        }
        .Dino .detail-head:nth-child(5){

          right: -9%;
          top: 34%;
          transform: rotate(88deg);

          }
          .Dino .detail-head:nth-child(6){

          right: -12%;
          top: 60%;
          transform: rotate(120deg);

          }
          .Dino .triangle{
            width: 2px;
        height: 3rem;
        position: absolute;

        right: 74px;
        top: 22.7px;
        transform: rotate(-31deg);
        background-color: #000;
      }
      .Dino .triangle2{
            width: 2px;
        height: 3rem;
        position: absolute;

        right: 103.2px;
        top: 18px;
        transform: rotate(47deg);
        background-color: #000;
      }
      .Dino .triangle:nth-child(8){
        right: 36.22px;
        top: 49px;
        transform: rotate(8deg);
      }
      .Dino .triangle2:nth-child(11){
        right: 56px;
        top: 31px;
        transform: rotate(82deg);
      }
      .Dino .triangle:nth-child(9){
        right: 26.8px;
        top: 100px;
        transform: rotate(50deg);
      }
      .Dino .triangle2:nth-child(12){        
        right: 28px;
        top: 72px;
        transform: rotate(125deg);}

        .Dino .headd{
        width: calc(var(--Dino-size) * 0.693);
        height: calc(var(--Dino-size) * 0.693);
        position: absolute;
        background-color: #b6da38;
        border-radius:50%;
        box-shadow: inset 5px 0 8px #4d5e11;
        bottom: 6px;
        left: 22px;
        border: 2px solid #000;
        }

        .Dino .eye{
            width: calc(
            var(--Dino-size) * 0.08);
            height: calc(
            var(--Dino-size) * 0.09);
            position: absolute;
            background-color: #000;
            border-radius: 50%;
            z-index: 1;
            top: 32%;
            left: 15%;
        }


        .Dino .eye:nth-child(2){
        left: 50%;

        }

        .Dino .mouth{
        width: calc(var(--Dino-size) * 0.2143);
        height: calc(var(--Dino-size) * 0.05);
        position: absolute;
        top: 60%;
        left: 23%;
        overflow: hidden;

        }
        .Dino .teeth{
          width: 0rem;
        height: 0rem;
        position: absolute;

        border: transparent 0.2em solid;
        border-bottom-color: #ffffff;
        border-bottom-width: 0.4em;
        border-top-width: 0em;
        border-radius:0px;
        transform: rotate(200deg);
        top: 64.5%;
        right: 63%;

        transform-origin: 0 70%;
        z-index: 0;
        border-style: solid;
        }


        .Dino .teeth:nth-child(12){
          transform: rotate(160deg);
          top: 63%;
          right: 48.3%;

        }
        .Dino .mouth::before,
        .Dino .mouth::after{
        content: "";
        width: 90%;
        height: 300%;
        position: absolute;
        border-radius: 50%;

        bottom: .5px;
        left: 0;
        border: 2px solid #000;
        }
        .Dino .detail1{
            width: calc(
            var(--Dino-size) * 0.07);
            height: calc(
            var(--Dino-size) * 0.09);
            position: absolute;
            background-color: #97c90f;
            border-radius: 50%;
            z-index: 3;
            top: 8%;
            left: 65%;
            transform: rotate(120deg);
        }
        .Dino .detail1:nth-child(6){
        left: 77%;
        top: 18%;
        transform: rotate(125deg);
        width: calc(
            var(--Dino-size) * 0.08);
            height: calc(
            var(--Dino-size) * 0.11);
            
        }
        .Dino .detail1:nth-child(7){
        left: 78%;
        top: 39%;
        transform: rotate(120deg);
        width: calc(
            var(--Dino-size) * 0.06);
            height: calc(
            var(--Dino-size) * 0.09);
            
        }

        .Dino .detail1:nth-child(8){
        left: 88%;
        top: 33%;
        transform: rotate(132deg);
        width: calc(
            var(--Dino-size) * 0.06);
            height: calc(
            var(--Dino-size) * 0.09);
            
        }

        .Dino .detail1:nth-child(9){
        left: 90%;
        top: 48%;
        transform: rotate(145deg);
        width: calc(
            var(--Dino-size) * 0.05);
            height: calc(
            var(--Dino-size) * 0.077);
            
        }
        .Dino .detail1:nth-child(10){
        left: 83%;
        top: 55%;
        transform: rotate(110deg);
        width: calc(
            var(--Dino-size) * 0.05);
            height: calc(
            var(--Dino-size) * 0.077);
            
        }
        .Dino .trianglet{
            width: 1px;
        height: .5rem;
        position: absolute;

        right: 71px;
        top: 84px;
        transform: rotate(-45deg);
        background-color: #000;
      }
      .Dino .trianglet2{
            width: 1px;
        height: .5rem;
        position: absolute;

        right: 68px;
        top: 83px;
        transform: rotate(8deg);
        background-color: #000;
      }
      .Dino .trianglet:nth-child(14){
        right: 90.2px;
        top: 82px;
        transform: rotate(-5deg);
      }
      .Dino .trianglet2:nth-child(16){
        right: 87px;
        top: 83px;
        transform: rotate(45deg);
      }
      .txt{
        width: 4.2rem;
        height: 1.8rem;
        position: absolute;
        top: -45%;
        left: 130%;
        overflow: hidden;
        z-index: 1000;
        transform: rotate(-45deg);
		visibility: hidden;
     
        }
        .txt::before,
        .txt::after{
        content: "";
        width: 100%;
        height: 200%;
        position: absolute;
        border-radius: 50%;

        border: 1px solid #000;
        bottom: 20px;
        left: 0;
        }
        .txt3{
          font-family:'Courier New', Courier, monospace;
          font-weight: 700;
          font-size: 1.2rem;
          transform: scalex(-1);
          display: inline-block;
          white-space: pre;
          position: absolute;
          top: -72%;
            left: 125%;
            visibility: hidden;
        }
        .label button:hover{
          cursor: pointer;
          
          }
          .label button{
          background-color: rgba(255, 255, 255, 0.342);
          
          }
          /*fondo*/.bkk{ background: #DC2424;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to bottom, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to bottom, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
           }
          /*boton*/
          .buttoonClass {
          font-size:12px;
          font-family:Arial Black;
          width:80px;
          height:25px;
          border-width:2px;
          color:#000000;
          border-color:#8d6c3d00;
          font-weight:bold;
          border-top-left-radius:9px;
          border-top-right-radius:9px;
          border-bottom-left-radius:9px;
          border-bottom-right-radius:9px;
          box-shadow: 0px 4px 0px 0px #1c1b18;
          text-shadow: 0px 0px 0px #000000;
          background:linear-gradient(rgba(134,rgba(66, 51, 30, 0) 7, 0), #42331e);
          margin-bottom: .4rem;
          }
          
          .buttoonClass:hover {
          background: linear-gradient(#ccc2a6, #eae0c2);
          }
                
          .buttoonClass:nth-child(2){
          font-size: 10px;
          }
          /*label witb*/
          .label .a{
          text-decoration: none;
          color: #000000;
          position: absolute;
          left: 10px;
          font-weight: 900;
          top: -1px;
          }
          .label .a2{
          text-decoration: none;
          color: #000000;
          position: absolute;
          left: 10px;
          font-weight: 900;
          top: 15px;
          }
          .label .a:hover{
          font-size: 1.1rem;
          color: #2a7de2;
          }
          .label .a2:hover{
          font-size: 1.1rem;
          color: #9e2ae2;
          text-decoration: none;
          }
        @keyframes blink1 {
          to {
            visibility: hidden;
          }
          
          }
          @-webkit-keyframes blink1{to {
          visibility: hidden;
          }}
          .blink {
        
          animation: blink1 2s steps(50, start) infinite alternate;
          animation-delay: 10s;
          -webkit-animation: blink1 2s steps(50, start) infinite alternate;
          }
          .base64{
            background-color: transparent;
          }
          .front-cover{
            transform: rotatex(200deg);
            transition: transform .5s linear;
          }
          .right-cover{
            transform: rotatey(190deg);
            transition: transform .5s .35s linear;
          }
          .back-cover{
            transform: rotatex(-190deg);
            transition: transform 0.5s linear;
          }
          .left-cover{
            transform: rotatey(-190deg);
            transition: transform .5s .35s linear;
          }
          .content-active{
            transform: rotateY(-216deg) 
                      translatez(calc(var(--size) / -2 )) 
                      translatex(-50%) translatey(-82%);
            transition: transform .5s 1s 
            cubic-bezier(.24,.05,.66,1.24);
          }
          .face, .cover-back, .cover-right, .cover-left, .cover-front{
            background-size: cover;
          }
          .txt-active{		animation: fade 10s 1;
            visibility: visible;}
          .txt2-active{		
            animation: fade 10s 1;
            visibility: visible;
            animation: escribir 5s steps(10) 1 alternate;}
          .txt3-active{		animation: fade 10s 1;
            visibility: visible;}
/*-----------------------------------------------------------
2. Modal
-------------------------------------------------------------*/
/* Tooltip container */
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
/* Position the tooltip text - see examples below! */
  position: absolute; 
  z-index: 1; 
  left: 50%;
  bottom: 195px;
}
.policy{margin-top: 2rem;}
.info{margin-top: 3rem;}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.copy-txt:hover{cursor: pointer;}
#myBtn{
  padding: 1rem;
  color: #000;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  font-size: 1.5rem;
  box-shadow: 5px 7px 3px 4px #000;
}
.policy, .info{
  font-family: sans-serif;
font-weight: 100;
font-size: 1.5rem;
-webkit-text-fill-color: black;
-webkit-text-stroke: 1px white; text-align: center;
}
.info{font-size: 3rem;}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid rgb(163, 163, 163);
  top: 300px;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
}

/* The Close Button */
.close {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #ffb6b6;
  color: black;
}

/* Modal Body */
.modal-body {padding: 2px 16px;display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 1.4rem;
background-color: #9dffef;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #ffbcbc;
  color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}
.mintt:hover{cursor: pointer;color: white !important;}
.mintt:active{transform: scale(.95);}
/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 300px; opacity: 1}
}

/*-----------------------------------------------------------
III. Viking (HTML)
-------------------------------------------------------------*/
.mint-viking{margin-top: 2rem;}
.mint-viking:hover{cursor: pointer;}

/*-----------------------------------------------------------
IV. 404 (HTML)
-------------------------------------------------------------*/
.body-404{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  height: 100vh;
}
.activated::before{
  opacity: 1;
}
.activated::after{
  background-color: #000;
}
.glitch-404{transform: scale(3.5);margin: 2rem 1rem;}

/*-----------------------------------------------------------
RESPONSIVE
-------------------------------------------------------------*/
@media screen and (max-width: 768px) {.glitch-404{transform: scale(2);}.activated{width: 80%;}}
@media screen and (max-width: 432px) {.glitch-404{transform: scale(1.3);}}
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 768px) {
    .topnav a {display: none; margin: 0 0;}
    .topnav a.icon{
      float: right;
      display: block;
    }
    .topnav button{display: none;}
    .yggdrasil-bk{background-image: url(https://drive.google.com/uc?id=1w9rEgEZ3nk0hisVkeJWsGMus7yuVFejo) !important;}
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 768px) {
    .topnav.responsive {position: fixed; display: flex; flex-direction: column; align-items: center; justify-content: flex-start;background-color: rgba(0, 0, 0, 0.466) !important;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
      margin: 1rem;
    }
    .topnav-child{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 4rem;
      width: 100%;
      margin-right: 0;
    }
    .topnav-child a {
      width: 100%;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }
  @media screen and (max-width: 932px) {
    .section-1{
      background-image:url(https://drive.google.com/uc?id=1REpyMjX7hUcdkMG1LpD2EyzjDVg_5e9u) ;
    }
    .image-banner-1, .image-banner-2, .image-banner-3, .image-banner-4{
      background-position: center center !important;
    }
    .image-banner-1{
      background-image:url(https://drive.google.com/uc?id=13JN_KHLXxZ-Dl2y-Hd1xn6kY07HzVgW1) ;
    }
    .image-banner-4{
      background-image:url(https://drive.google.com/uc?id=1XVx2uBOqJb-HQAX4TVen1Jbo47rb5TnI) ;
    }
    .title-nft{
      font-size: 1.7rem;
      background-color: rgba(0, 0, 0, 0.1);
      
    }
    .boxx{
      color: #67ffeb;
      -webkit-text-fill-color: rgb(255, 0, 200);
    }
    .title-nft h3, .title-nft h6{
      margin: 0 .1rem;
    }
  }
  @media screen and (max-width: 768px) {
    .container-1 h1{
      font-size: 2rem;
    }
    .sub-title h2{
      font-size: 1.6rem;
    }
    .container-1 h4, .container-2 h4{
      font-size: 1.3rem;
    }
    .stake-button{
      width: 100%;
      font-size: 1rem;
    }
    #text{
      width: 70%;
    }
    .grid-web{
      margin: 0 0rem;
    }
    .body-box{position: absolute;}
  }